<div class="layer">
  <div class="overlay">

    <img (click)="navigateBack()" class="backBtn" height="40" src="assets/cancel_black_24dp.svg" width="40">

    <h1>Spiel Erklärung</h1>
    <p>
      Mit dem Puzzle Scrum Poker kannst du ganz einfach als Team Stories schätzen.
      Kopiere dazu einfach den Link und sende ihn an deine Mitarbeiter. Wenn alle dem Spiel beigetreten sind, kannst du
      über den blauen Button das Spiel starten.

      Danach kannst du der Runde einen Namen geben. Dies ist dazu da, dass alle sehen,
      um was es gerade geht. Jetzt kann jeder deiner Mitspieler einen Wert für die Task abstimmen.

      Du siehst in der Liste, wer schon abgestimmt hat, anhand des blau umrahmten Account-Icons. Wenn alle fertig sind,
      kannst du die Runde wieder über den Button stoppen. Jetzt sieht jeder, wer was abgestimmt hat und ihr könnt
      besprechen.
    </p>
    <h3>Weitere Infos</h3>
    <p>
      Mit einem Tipp auf einen Spieler in der Spielerliste kannst du Spieler entfernen, falls dieser eventuell nicht bei
      deinem Spiel dabei sein soll oder er einen nicht passenden Namen gewählt hat.
      Über das Auge kannst du den Spectator Mode einschalten und kannst dem Spiel nur zuschauen und musst nicht selber
      abstimmen. Dies kann auch jeder Spieler machen.
    </p>


  </div>
</div>
