<div class="layer">

</div>
<div class="overlay">

    <h1>Spiel Erklärung</h1>

    <p>
    Mit dem Puzzle Scrum Poker kannst du ganz einfach als Team Stories schätzen.
    Kopiere dazu einfach den Link und sende ihn an deine Mitarbeiter. Wenn alle dem Spiel beigetreten sind, kannst du über den blauen Button das Spiel starten.
    </p>

    <img (click)="navigateBack()" src="assets/cancel_black_24dp.svg" height="30" width="30">

</div>

<!--
Position absolut machen dann ist es nicht mehr im flow (dom)
z-index höher stellen
zuerst zlevel 5 mit 100% 100% für layer
dann zlevel 10 mit 20% für info fenster
-->
