.layer {
  z-index: 5;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(110, 110, 110, 0.5);
  position: absolute;
}

.overlay {
  position: absolute;
  z-index: 10;
  background-color: white;
  width: 40vw;
  height: fit-content;
  left: 30vw;
  top: 15vh;
}

.backBtn {
  cursor: pointer;
  margin-left: 35vw;
  margin-top: 10px;
  margin-bottom: 0;
}

p, h1, h3 {
  margin: 30px 5vw 30px 5vw;
}


@media only screen and (max-width: 768px) {
  .overlay {
    width: 80vw;
    left: 10vw;
  }

  .backBtn {
    margin-left: 65vw;
  }

}
