<div>
  <div class="roundInformation">
    <p class="round">Runde </p>
    <p class="storyname">{{(game$ | async)?.roundInfo}}</p>
  </div>

  <div class="gameInformation">
    <div *ngIf="(game$ | async)?.isGameRunning; else gameIsNotRunning">Spieler sind am abstimmen...</div>
    <ng-template #gameIsNotRunning>
      <div>Runde ist fertig.</div>
    </ng-template>
  </div>

  <div>
    <h3>Deine Schätzung in Storypoints</h3>
  </div>

  <div #cardContainerFront class="cardContainer-desktop" id="cardContainerFront"></div>

  <div #cardContainerBack class="cardContainerBack-desktop" id="cardContainerBack">
    <img class='backSide' height="200vh" src='assets/images/card_back.svg' width="120vh">
    <img class='backSide' height="200vh" src='assets/images/card_back.svg' width="120vh">
    <img class='backSide' height="200vh" src='assets/images/card_back.svg' width="120vh">
    <img class='backSide' height="200vh" src='assets/images/card_back.svg' width="120vh">
    <img class='backSide' height="200vh" src='assets/images/card_back.svg' width="120vh">
    <img class='backSide' height="200vh" src='assets/images/card_back.svg' width="120vh">
    <img class='backSide' height="200vh" src='assets/images/card_back.svg' width="120vh">
    <img class='backSide' height="200vh" src='assets/images/card_back.svg' width="120vh">
  </div>

</div>

