<div class="desktop">
  <div class="roundInformation">
    <p class="round">Runde </p>
    <p class="storyname">{{(game$ | async)?.roundInfo}}</p>
  </div>

  <div class="gameInformation">
    <div *ngIf="(game$ | async)?.isGameRunning; else gameIsNotRunning">Spieler sind am abstimmen...</div>
    <ng-template #gameIsNotRunning>
      <div>Runde hat noch nicht gestartet</div>
    </ng-template>
  </div>

  <div class="average">
    <div *ngIf="(game$ | async)?.isGameRunning; else notRunning">
      <h3>Deine Schätzung in Storypoints</h3>
    </div>
    <ng-template #notRunning>
      <h3>Team Durchschnitt {{ this.pokerService.game$.value.average }}</h3>
    </ng-template>
  </div>

  <div #cardContainerFront class="cardContainer-desktop" id="cardContainerFront"></div>

  <div #cardContainerBack class="cardContainerBack-desktop" id="cardContainerBack">
    <img class='backSide' height="200vh" src='assets/images/card_back.svg' width="120vh">
    <img class='backSide' height="200vh" src='assets/images/card_back.svg' width="120vh">
    <img class='backSide' height="200vh" src='assets/images/card_back.svg' width="120vh">
    <img class='backSide' height="200vh" src='assets/images/card_back.svg' width="120vh">
    <img class='backSide' height="200vh" src='assets/images/card_back.svg' width="120vh">
    <img class='backSide' height="200vh" src='assets/images/card_back.svg' width="120vh">
    <img class='backSide' height="200vh" src='assets/images/card_back.svg' width="120vh">
    <img class='backSide' height="200vh" src='assets/images/card_back.svg' width="120vh">
  </div>

</div>
