.list-item {
    font-size: 20px;
}

.player-list {
    display: grid;
    margin-top: 1%;
    margin-right: 5%;
    margin-left: 3%;
    width: 380px;
    height: 100%;
    overflow: auto;
    flex-direction: column;
    border-right: 4px solid black;
}

.player-row {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-between;
    padding: 3px;
    align-items: center;
    margin-bottom: 10px;
}

.usernameDiv {
    margin-left: 20px;
    margin-right: 20px;
    width: 120px;
}

.choosenValue {
    margin-left: 20px;
    margin-right: 20px;
    width: 30px;
}

.lastItem {
    margin-right: 30px;
}

.blankDiv {
    height: 24px;
    width: 24px;
}

.selfPlayer {
    font-weight: bold;
}

.username {
    margin-left: 0;
    margin-right: auto;
    grid-column: 2;
}

.estimate {
    margin-left: auto;
    margin-right: 10px;
    grid-column: 4;
}

.copyButton {
    height: auto;
    width: 20vh;
}

.heading {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;
    margin-bottom: 20px;
}

