.card {
    width: 137px;
}

.selectedcard {
    padding-bottom: 50px;
    border: #fb0f0c;
}

.cardContainer-mobile {
    display: block;
}
.cardContainer-desktop {
    display: none;
}

@media only screen and (min-width: 678px) {
    .cardContainer-mobile {
        display: none;
    }
    .cardContainer-desktop {
        display: block;
    }
}
