.cardContainer-mobile {
    display: block;
}
.cardContainer-desktop {
    display: none;
}

@media only screen and (min-width: 678px) {
    .cardContainer-mobile {
        display: none;
    }
    .cardContainer-desktop {
        display: block;
    }
}
