<div class="container">
  <div class="roundInformation">
    <p class="round">Runde</p>
    <p class="storyname">{{(game$ | async)?.roundInfo}}</p>
  </div>
  <div class="cardContainer-mobile">
    <p>Deine Schätzung in Story Points</p>
    <select class="dropdown">
      <option class="cardSelect" selected="selected">-</option>
      <option (click)="setSelectedCard('1')" value="1">1</option>
      <option (click)="setSelectedCard('2')" value="2">2</option>
      <option (click)="setSelectedCard('3')" value="3">3</option>
      <option (click)="setSelectedCard('5')" value="5">5</option>
      <option (click)="setSelectedCard('8')" value="8">8</option>
      <option (click)="setSelectedCard('13')" value="13">13</option>
      <option (click)="setSelectedCard('21')" value="21">21</option>
      <option (click)="setSelectedCard('?')" value="?">?</option>
    </select>
  </div>

  <div class="gameInformation">
    <div *ngIf="(game$ | async)?.isGameRunning; else gameIsNotRunning">Spieler sind am abstimmen...</div>
    <ng-template #gameIsNotRunning>
      <div>Runde ist fertig.</div>
    </ng-template>
  </div>
</div>
