<div>
    <div class="roundInformation"></div>
    <div class="gameInformation" *ngIf="isGameRunning; else gameIsNotRunning">
        <div>Spieler sind am abstimmen.</div>
    </div>
    <ng-template #gameIsNotRunning><div>Runde ist fertig.</div></ng-template>
    <div class="cardContainer-mobile">
        <select>
            <option class="cardSelect" selected="selected">-</option>
            <option value="1" (click)="setSelectedCard('1')">1</option>
            <option value="2" (click)="setSelectedCard('2')">2</option>
            <option value="3" (click)="setSelectedCard('3')">3</option>
            <option value="5" (click)="setSelectedCard('5')">5</option>
            <option value="8" (click)="setSelectedCard('8')">8</option>
            <option value="13" (click)="setSelectedCard('13')">13</option>
            <option value="21" (click)="setSelectedCard('21')">21</option>
            <option value="?" (click)="setSelectedCard('?')">?</option>
        </select>
    </div>
</div>
