<div class="container">
  <div class="roundInformation">
    <p class="round">Runde</p>
    <p class="storyname">{{(game$ | async)?.roundInfo}}</p>
  </div>
  <div *ngIf="(game$ | async)?.isGameRunning" class="cardContainer-mobile">
    <p>Deine Schätzung in Story Points</p>
    <select class="dropdown">
      <option class="noCardSelected">-</option>
      <option (click)="setSelectedCard('1')" value="1">1</option>
      <option (click)="setSelectedCard('2')" value="2">2</option>
      <option (click)="setSelectedCard('3')" value="3">3</option>
      <option (click)="setSelectedCard('5')" value="5">5</option>
      <option (click)="setSelectedCard('8')" value="8">8</option>
      <option (click)="setSelectedCard('13')" value="13">13</option>
      <option (click)="setSelectedCard('21')" value="21">21</option>
      <option (click)="setSelectedCard('?')" value="?">?</option>
    </select>
  </div>

  <div class="gameInformation">
    <div *ngIf="(game$ | async)?.isGameRunning; else gameIsNotRunning">Spieler sind am abstimmen...</div>
    <ng-template #gameIsNotRunning>
      <div>Runde hat noch nicht gestartet</div>
    </ng-template>
  </div>

  <div class="average">
    <div *ngIf="(game$ | async)?.isGameRunning; else notRunning">
      <div class="averageGrid">
        <h3 class="averageTitle">Durchschnitt: </h3>
        <h3 class="average">{{ pokerService.game$.value.average }}</h3>
      </div>
    </div>
    <ng-template #notRunning>
      <div class="averageGrid">
        <h3 class="averageTitle">Durchschnitt: </h3>
        <h3 class="average">{{ pokerService.game$.value.average }}</h3>
      </div>
    </ng-template>
  </div>
</div>
